/files/cppproject/lua
/files/cppproject/WandViewerDll/.vs
/files/cppproject/WandViewerDll/WandViewerDll
/files/module/debug
/files/module/WandViewerDll.exp
/files/module/WandViewerDll.lib
/files/module/WandViewerDll.pdb
